streamlit==1.31.1
langchain==0.0.350
langchain-core==0.1.17
langchain-groq==0.0.1
python-dotenv==1.0.1
pypdf==4.0.1
sentence-transformers==2.5.1
chromadb==0.4.22
huggingface-hub==0.20.3
tqdm==4.66.2
pydantic==1.10.13
typing-extensions==4.5.0
python>=3.9,<3.10
numpy==1.24.3
pandas==2.0.3
rich==13.7.0
markdown-it-py==2.2.0
mdurl==0.1.2
pygments==2.16.1 
